.cookieBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $mint-green;
  color: $black;
  z-index: 10;

  .uk-container {
    position: relative;
    max-width: 900px;
  }

  p {
    margin-right: 50px;
  }

  .uk-button {
    width: auto;
    padding: 10px 35px 12px 35px;
    font-size: 1.2rem;

    @media (min-width: $breakpoint-medium) {
      font-size: 0.8rem;

      &:hover {
        padding-right: 35px !important;
      }
    }
  }

  .closeCookie {
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
