$dropdown-min-width: 350px;
$dropdown-background: $black;
$dropdown-color: $white;

@mixin hook-dropdown {
  box-shadow: none;

  .uk-dropdown-nav {
    li {
      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        padding: 0;
        font-size: 20px;
        line-height: 31px;
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
