$form-focus-background: #fff;
$form-focus-color: $global-color;
$form-placeholder-color: rgba($global-color,0.6);

$form-radio-checked-background: $black;
$internal-form-radio-image: "";
$internal-form-checkbox-image: "";

$form-legend-font-size: 1.6rem;
$form-legend-line-height: 2.4rem;

$form-radio-margin-top: 0;

@media (min-width: $breakpoint-medium) {
  $form-legend-font-size: 3.2rem;
  $form-legend-line-height: 4.1rem;
}

@mixin hook-form-single-line {
  height: 52px;
  padding: 11px 19px;
  border: 2px solid $black;

  &.underline,
  &.underline:hover,
  &.underline:focus,
  &.underline:checked {
    width: 100%;
    height: 20px;
    padding: 0 0 3px;
    border: 0;
    // border-bottom: 2px solid $black;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 300;
    box-sizing: content-box;

    @media (min-width: $breakpoint-medium) {
      height: 37px;
      padding: 0;
      font-size: 1.2rem;
    }
  }

  &.circle {
    width: 58px;
    height: 58px;
    padding: 0 0 3px;
    border: 2px solid $black;
    border-radius: 50%;
    text-align: center;
  }

  &.square {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid $black;
    border-radius: 0% !important;
    font-size: 1.6rem;
    line-height: 100%;
    padding: 0;
    text-align: center;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.2rem;
    }
  }

  &.uk-select {
    padding: 0 20px;
    background-image: url(../images/select_plus_icon.png);
    background-position: 100% 50%;
    cursor: pointer;
  }
}

@mixin hook-form-legend {
  margin: 8px auto;
}

@mixin hook-form-multi-line {
  border: 2px solid $black;
}

@mixin hook-form-radio {
  &.square, &.rectangle {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 2px solid $black;
    border-radius: 0% !important;
    font-size: 1.6rem;
    line-height: 100%;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    @media (min-width: $breakpoint-medium) {
      margin-right: 0;
      margin-bottom: 0;
      font-size: 1.2rem;
    }

    &:after {
      content: attr(data-label);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      will-change: transform;
      transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &:hover {
      transform: translate3d(0,0,0) scale(1.05);

      &:after {
        transform: translate3d(-50%, -50%, 0) scale(calc(1 / 1.05));
      }
    }
  }

  &.rectangle {
    width: 100%;
    height: 52px;

    @media (min-width: $breakpoint-medium) {
      width: 256px;
      height: 82px;
    }

    &:after{
      content: attr(data-label);
      position: absolute;
      top: 50%;
      left: 20px;
      width: calc(100% - 40px);
      transform: translate3d(0, -50%, 0);
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &:hover {
      transform: translate3d(0,0,0) scale(1.025);

      &:after {
        transform: translate3d(0, -50%, 0) scale(calc(1/1.025));
      }
    }

    &.big {
      width: 100%;

      &:hover {
        transform: translate3d(0,0,0) scale(1.01);

        &:after {
          transform: translate3d(0, -50%, 0) scale(calc(1/1.01));
        }
      }
    }
  }

  &.circle {
    position: relative;
    width: 28px;
    height: 28px;
    border: 3px solid $black;
    border-radius: 50%;
    margin-right: 8px;

    &:checked, &:focus {
      background-color: $white !important;
      background-image: none;

      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0);
        width: 4px;
        height: 4px;
        background: $black;
        border-radius: 50%;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    & + .input-wrapper {
      margin-left: 12px;
    }
  }
}

@mixin hook-form-radio-checked {
  background-color: $black;
  color: $white;
}

@mixin hook-form-radio-checked-focus {
  background-color: $black;
  color: $white;
}

@mixin hook-form-radio-focus {
  background-color: $white;
  color: $black;
}

@mixin hook-form-focus {
  border-color: $black;
}

@mixin hook-form-label {
  font-size: 1.6rem;
  line-height: 1.2;
  cursor: auto;

  span {
    margin-left: 8px;

    &.uk-text-small {
      font-size: 1.0rem;

      &.uk-display-block {
        margin-left: 0;
      }

      @media (min-width: $breakpoint-medium) {
        font-size: 0.7rem;
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@mixin hook-form-misc {
  .question-number {
    font-size: 1.2rem;
    line-height: 1.5;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }

  .uk-fieldset {
    @media (min-width: $breakpoint-medium) {
      margin-bottom: 150px;
    }

    span.label {
      font-size: 14px;
      line-height: 18px;
    }

    .plus, .minus {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 6px;
      cursor: pointer;
    }

    .minus:after, .plus:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      width: 100%;
      height: 2px;
      background: $black;
    }

    .plus:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background: $black;
    }

    .uk-flex-column {
      /*
      label {
        margin-bottom: 21px;
      }
      */

      input {
        margin-left: 0;
      }
    }

    .uk-flex-left {
      .uk-radio.circle {
        margin-left: 22px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .input-wrapper {
    position: relative;
    width: 89px;

    &.error {
      border-color: $red;

      &:after, &:before {
        background-color: $red;
      }
    }

    @media (min-width: $breakpoint-medium) {
      width: 133px;
    }
  }

  .input-wrapper {
    position: relative;
    padding: 0 4px;
    border-bottom: 2px solid $black;
    max-width: 100%;

    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 8px;
      width: 2px;
      background: $black;
    }

    &:after {
      left: auto;
      right: 0;
    }

    .uk-input {
      border: 0;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .form-wrapper.has-danger {
    .uk-button {
      cursor: auto;
      background-color: lighten($black, 40%);
      border-color: lighten($black, 40%);
    }
  }

  .pristine-error {
    margin-top: 10px;
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
    background: $red;
    color: $white;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;

    @media (min-width: $breakpoint-medium) {
      font-size: 0.7rem;
    }

    svg {
      margin-top: -4px;
      margin-right: 8px;
    }
  }

  .input-row {
    @media (min-width: $breakpoint-medium) {
      margin-right: 20px;
    }

    @media (max-width: $breakpoint-medium) {
      position: relative;
      margin-right: 0 !important;
      margin-left: -2px !important;
      line-height: 4.8rem !important;
      text-align: center;

      &:first-of-type {
        margin-left: 0;
      }

      .uk-radio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-right: 0 !important;
        border-width: 2px;
        border-radius: 0;

        &:checked, &:focus {
          background-color: $black !important;
          opacity: 1;

          &:after {
            content: attr(data-label);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 100%;
            height: auto;
            color: $white;
            text-align: center;
          }
        }
      }
    }
  }
}
