header {
  position: relative;
  padding: 24px 32px;
  box-sizing: border-box;
  background: #fff;
  z-index: 10;

  @media (min-width: $breakpoint-medium) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 64px;
    background: #fff;
    border-bottom: 2px solid $black;
    box-sizing: border-box;
  }

  .menu-icon {
    @media (max-width: $breakpoint-medium) {
      position: absolute;
      right: 32px;
      top: 24px;
    }
  }

  .logo {
    height: 32px;

    @media (min-width: $breakpoint-medium) {
      height: auto;
      opacity: 1;
      transition: 0.4s opacity;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  & > .lang {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    font-size: 1rem;
    line-height: 2;

    @media (min-width: $breakpoint-medium) {
      display: block;
    }

    img {
      margin-top: -4px;
    }

    a {
      font-size: 1rem;
    }

    a:not(.uk-button) {
      color: $black;

      &:hover {
        color: rgba($global-color, 0.6);
        text-decoration: none;
      }
    }

    .uk-navbar-dropdown {
      background: $white;
      color: $black;
      border: 2px solid $black;

      li {
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: right;

        a {
          padding: 20px;
          font-size: 0.9rem;
          font-weight: 400;
          color: $black;

          &:hover {
            color: rgba($global-color, 0.6) !important;
            text-decoration: none;
          }
        }

        &:first-of-type {
          padding: 20px;
        }

        &:last-of-type {
          border-top: 2px solid $black;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .headroom {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    z-index: 10;
    will-change: transform;
    transition: transform 200ms linear;
  }

  .headroom--pinned {
    transform: translateY(0%);
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }
}
