body.bilans {
  section.top {
    background-color: #fafafa;
    background-image: url(../images/bilans_bg_m.png);

    @media (min-width: $breakpoint-medium) {
      background-image: url(../images/bilans_bg.png);
    }
  }

  .uk-section.light-blue {
    .uk-width-1-2\@m {
      &:first-of-type {
        @media (min-width: $breakpoint-medium) {
          padding-right: 40px;
        }
      }

      &:last-of-type {
        @media (min-width: $breakpoint-medium) {
          padding-left: 40px;
        }
      }
    }
  }

  .uk-width-1-2\@m {
    position: relative;
    // max-width: 600px;

    p {
      font-size: 1.6rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    @media (max-width: $breakpoint-medium) {
      &:first-of-type {
        padding-bottom: 40px;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 1px;
          width: 100vw;
          transform: translate3d(-50%, 0, 0);
          background: $black;
        }
      }

      &:last-of-type {
        padding-top: 40px;
      }

      .uk-button {
        @include centered-button();
      }
    }
  }

  .form-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 494px;

    .uk-input {
      height: 48px;
      padding: 0 30px;
      margin-bottom: 14px;
      background: $white;
      border: 0;
      border-radius: 31px;

      @media (min-width: $breakpoint-medium) {
        height: 44px;
        margin-bottom: 0;
        border: 2px solid $black;
      }

      &:hover {
        padding-right: 0;
      }
    }

    .uk-button {
      padding: 10px 30px 11px;
      text-align: center;
      white-space: nowrap;
      transition: none;

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: 0;
        right: -2px;
        width: auto;
        text-align: left;
        font-size: 0.8rem;
      }
    }
  }
}
