body.biznes {
  section.top {
    background-color: #d2d2d2;
    background-image: url(../images/buisness_bg_m.png);

    @media (min-width: $breakpoint-medium) {
      background-image: url(../images/biznes_bg.png);
    }
  }

  .uk-section {
    .uk-container {
      @media (min-width: $breakpoint-medium) {
        margin-top: 80px;
        margin-bottom: 80px;
      }
    }
  }

  .uk-width-1-2\@m {
    @media (min-width: $breakpoint-medium) {
      max-width: 493px;
    }
  }
}
