body.blog {
  section.top {
    height: 100vh;
    background-position: center;
    background-size: cover;

    @media (min-width: $breakpoint-medium) {
      height: 985px;
    }

    h1 {
      font-size: 3.35rem;
      line-height: 1.2;
    }

    .read-time {
      width: 155px;
      padding-top: 0.5em;
      margin-top: 1em;
      margin-bottom: 25px;
      border-top: 2px solid $black;

      @media (min-width: $breakpoint-medium) {
        width: 255px;
      }
    }
    
    .uk-button {
      @media (max-width: $breakpoint-medium) {
        padding: 8px 52px 10px 20px;
        font-size: 1.8rem;
      }
    }
  }

  .filter {
    padding-bottom: 25px;

    span {
      cursor: pointer;
    }
  }

  .tags {
    padding-top: 15px;
    margin-bottom: 49px;
    border-top: 2px solid $black;

    & > * {
      margin: 15px 25px 15px 0;
    }

    .uk-button {
      border-color: #606060;
      color: #606060;
  
      &.uk-active {
        border-color: $white;
        color: $white;
        background: $black;
      }
  
      &:hover {
        border-color: $white;
        color: $white;
        background: $black;
      }
    }

    span{
      font-size: 24px;
      line-height: 1;
    }
  }
}