.calculator {
  overflow-x: hidden;

  .nav-button {
    position: relative;
    width: 30px;
    height: 20px;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $black;

      &:first-of-type {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }

      &:last-of-type {
        bottom: 0;
      }
    }
  }

  .uk-section-primary {
    padding-top: 40px;

    @media (min-width: $breakpoint-medium) {
      padding-top: 200px;
    }

    .top {
      padding-bottom: 80px;
    }

    h1 {
      margin-bottom: 40px;

      @media (min-width: $breakpoint-medium) {
        margin-bottom: 0;
      }
    }
  }

  #tabs {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: flex;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 2px;
        background: $black;
        z-index: -1;
      }
    }
  }

  .progress {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: block;
    }
  }

  .question-slide>div>div {
    @include col-width;
  }

  .question-nav {
    position: sticky;
    bottom: 0;
    padding: 18px 0;

    @media (min-width: $breakpoint-medium) {
      padding: 10px 0;
      border-top: 2px solid $black;
      background: $white;
    }
  }

  .progress {
    margin: 200px auto 0;
    font-size: 20px;
    line-height: 26px;

    .progress-bars {
      position: relative;
      width: 100%;
      height: 32px;
      margin: 12px auto 8px;
      // overflow: hidden;
      box-sizing: border-box;

      .progress-bar {
        position: relative;
        padding: 0;

        &:first-of-type .progress-bar__inner {
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
        }

        &:last-of-type .progress-bar__inner {
          border-right: 2px solid $black;
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
        }

        .progress-bar__title {
          position: absolute;
          bottom: 100%;
          left: 7px;
          margin-bottom: 7px;
          font-size: 16px;
          line-height: 24px;
          color: rgba($global-color, 0.6);
        }

        .progress-bar__inner {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          overflow: hidden;
          border: 2px solid $black;
          border-right: 0;
          z-index: 1;

          div {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background: $black;
          }
        }

        .progress-bar__complete-tooltip {
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-bottom: 35px;
          margin-left: -135px;
          width: 270px;
          padding: 8px 12px;
          border: 2px solid $black;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 24px;

          &:after {
            content: "";
            position: absolute;
            right: 50px;
            top: 100%;
            width: 20px;
            height: 19px;
            background-image: url(../images/tooltip_triangle.png);
          }

          div {
            cursor: pointer;
            display: inline-block;
            margin-left: 3px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .questions-slides {
    padding-left: 0;
    margin-bottom: 0;

    .question-slide {
      & > .uk-flex {
        flex-direction: column-reverse;

        @media (min-width: $breakpoint-medium) {
          flex-direction: row;
        }
      }

      &:not(.question-slide--active) {
        display: none;
      }
    }
  }

  .uk-button-group {
    @include col-width;
  }

  #transportation .question-slide.first>.uk-flex>div {
    position: relative;

    &:first-of-type {
      width: calc(100vw - 60px);
      height: calc(100vw - 60px);

      @media (min-width: $breakpoint-medium) {
        margin-top: 150px;
        width: 100%;
        height: auto;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: 0.4s opacity;

      @media (min-width: $breakpoint-medium) {
        opacity: 0;
      }

      &.active,
      &.hover {
        opacity: 1;
      }
    }
  }

  .carbon-footprint-wrapper {
    position: sticky;
    top: 0;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    background: $white;
    z-index: 1;

    @media (min-width: $breakpoint-medium) {
      position: relative;
      border-top: 0;
      border-bottom: 0;
      background: transparent;
    }
  }

  .carbon-footprint {
    position: relative;
    padding: 8px 0;
    z-index: 1;

    @media (min-width: $breakpoint-medium) {
      position: absolute;
      top: 68px;
      left: 0;
      height: 67px;
      min-width: 250px;
      padding: 15px 42px 12px 32px;
      box-sizing: border-box;
      background: #66C1BE;
      border-top-right-radius: 31px;
      border-bottom-right-radius: 31px;
    }

    .value {
      font-size: 3.2rem;
      line-height: 3.8rem;
      font-weight: 600;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }

    .label {
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 300;
      color: rgba($global-color, 0.6);

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        bottom: 100%;
        left: 0;
        margin-bottom: 10px;

        font-size: 0.7rem;
        line-height: 0.9rem;
      }
    }
  }

  .tab-items {
    @media (min-width: $breakpoint-medium) {
      min-height: 636px;
    }

    &:before {
      content: none;
    }

    & > li {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;

      & > ul {
        padding: 0;
        margin: 0;
      }
    }
  }

  .score {
    .chart {
      @media (min-width: $breakpoint-medium) {
        margin-top: 150px;
      }

      background-image: url(../images/chart_bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 185px;
    }

    .accordion {
      h4 {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 3.0rem;
      }

      li {
        padding: 13px;
        margin: 0;
        border-bottom: 0;
        border-top: 2px solid $black;

        &:last-of-type {
          border-bottom: 2px solid $black;
        }

        .uk-icon {
          position: absolute;
          right: 13px;
          top: 22px;
        }

        .bar {
          position: relative;
          width: 100%;
          padding: 5px 24px;
          border: 2px solid $black;
          border-radius: 31px;
          box-sizing: border-box;
          overflow: hidden;

          div {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: $black;
          }

          span {
            position: relative;
            font-size: 1.6rem;
            line-height: 1;
            color: $white;
          }
        }
      }
    }
  }

  .validation-monit {
    position: absolute;
    top: 100%;
    display: none;
    margin-top: 16px;
    padding: 4px 30px 8px;
    background: #D60000;
    color: $white;

    p {
      margin: 0;

      &.uk-text-small {
        font-size: 1.4rem;

        @media (min-width: $breakpoint-medium) {
          font-size: 0.7rem;
        }
      }
    }

    [uk-icon="close"] {
      position: absolute;
      top: 8px;
      left: 7px;
    }
  }

  [data-slide="trav3"] {
    .uk-flex {
      & > div:first-of-type {
        img {
          position: absolute;
          display: none;

          @media (min-width: $breakpoint-medium) {
            display: block;
          }

          &:nth-child(odd) {
            left: 0;
          }

          &:nth-child(even) {
            left: 50%;
          }
        }
      }
    }

    .uk-accordion {
      li {
        padding: 0;
        margin-bottom: 0;
        border-bottom: 0;
        border-top: 2px solid $black;

        .uk-accordion-content {
          padding: 0;

          .uk-form-label {
            font-size: 1.6rem;
            line-height: 1.5;

            @media (min-width: $breakpoint-medium) {
              font-size: 1.2rem;
              line-height: 1.2;
            }
          }
        }

        .uk-accordion-title {
          position: relative;
          padding: 11px 30px;
          font-size: 1.6rem;
          line-height: 1.5;

          @media (min-width: $breakpoint-medium) {
            font-size: 1.2rem;
            line-height: 1.2;
          }

          .remove {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
          }

          &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate3d(-50%, -50%, 0);
            background: $black;
          }

          &:before {
            width: 20px;
            height: 2px;
          }

          &:after {
            width: 2px;
            height: 20px;
          }
        }

        &.uk-open {
          .uk-accordion-title:after{
            content: none;
          }
        }
      }
    }

    .select2 {
      margin-bottom: 1em;
    }

    .add-flight {
      transition: 0.4s opacity;

      @media (min-width: $breakpoint-medium) {
        padding: 10px 55px 12px 35px;
        font-size: 1.2rem;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translate3d(50%, -50%, 0);
        background: $black;
      }

      &:before {
        width: 20px;
        height: 2px;
      }

      &:after {
        width: 2px;
        height: 20px;
      }

      &:hover {
        opacity: 0.6;
        padding-right: 55px;
      }
    }
  }

  .form-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 494px;

    .uk-input {
      height: 48px;
      padding: 0 30px;
      margin-bottom: 14px;
      background: $white;
      border-radius: 31px;

      @media (min-width: $breakpoint-medium) {
        height: 44px;
        margin-bottom: 0;
      }

      &:hover {
        padding-right: 0;
      }
    }

    .uk-button {
      padding: 10px 30px 11px;
      font-size: 1.6rem;
      text-align: center;
      white-space: nowrap;
      transition: none;

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: 0;
        right: -2px;
        width: auto;
        text-align: left;
        font-size: 0.8rem;

        &:hover {
          padding-right: 30px;
        }
      }
    }
  }

  .result-send {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: $mint-green;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 500px;
    z-index: 1;

    @media (min-width: $breakpoint-medium) {
      padding-top: 98px;
    }

    .uk-button {
      @media (min-width: $breakpoint-medium) {
        transition: 0.4s padding-right, 0.4s margin-right;

        &:hover {
          margin-right: -10px;
          margin-left: auto;
        }
      }
    }

    &.success {
      background-image: url(../images/result_send_success.png);
    }

    &.error {
      background-image: url(../images/result_send_error.png);


      h2 {
        color: $red;
      }
    }
  }

  .send-results {
    position: relative;
    max-width: 100% !important;

    h2 {
      font-size: 1.6rem;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 100vw;
      height: 100%;
      background-color: $mint-green;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}
