body.faq {
  .hidden {
    display: none;
  }

  .input-wrapper {
    width: 100%;
    padding-left: 35px;
    padding-left: 35px;
    margin-bottom: 80px;
    box-sizing: border-box;

    @media (min-width: $breakpoint-medium) {
      padding-left: 64px;
      padding-right: 64px;
      padding-bottom: 10px;
    }

    img {
      max-width: 30px;

      @media (min-width: $breakpoint-medium) {
        max-width: 100%;
      }
    }

    .search-icon {
      position: absolute;
      left: 10px;
      bottom: 5px;
    }

    .arrow-icon {
      position: absolute;
      right: 10px;
      bottom: 5px;

      @media (min-width: $breakpoint-medium) {
        right: 20px;
      }
    }
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;

    @media (min-width: $breakpoint-medium) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .uk-accordion {
    & > li {
      &:first-of-type {
        padding-top: 1em;
        border-top: 2px solid $black;
      }
      
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
