.home {
  .uk-section {
    @media (min-width: $breakpoint-medium) {
      &.uk-flex {
        min-height: 784px;

        & > div:first-child {
          background: $white;
        }
      }
    }

    &.top {
      position: relative;
      height: auto;
      min-height: 849px;
      overflow: hidden;
      background-image: url(../images/home_bg_m.png);
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;

      & > div {
        @media (min-width: $breakpoint-medium) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 0;
        }

        &:first-of-type {
          padding-top: 0;

          @media (min-width: $breakpoint-medium) {
            padding-top: 40px;
            z-index: 2;
          }
        }
      }

      @media (min-width: $breakpoint-medium) {
        background-image: none;
      }

      h1 {
        font-size: 6.0rem;
        line-height: 1;
        margin-bottom: 0.5em;

        @media (min-width: $breakpoint-medium) {
          font-size: 3.2rem;
          line-height: 1.25;
          margin-bottom: 0;
        }
      }

      .form-wrapper {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 494px;

        .uk-input {
          height: 48px;
          padding: 0 30px;
          margin-bottom: 14px;
          background: $white;
          border: 0;
          border-radius: 31px;

          @media (min-width: $breakpoint-medium) {
            height: 44px;
            margin-bottom: 0;
            border: 2px solid $black;
          }

          &:hover {
            padding-right: 0;
          }
        }

        .uk-button {
          padding: 10px 30px 11px;
          text-align: center;
          white-space: nowrap;
          transition: none;

          @media (min-width: $breakpoint-medium) {
            position: absolute;
            top: 0;
            right: -2px;
            width: auto;
            text-align: left;
            font-size: 0.8rem;
          }
        }
      }

      video {
        display: none;
        width: 104%;
        max-width: 104%;
        margin: 0 -2%;
        z-index: 0;

        @media (min-width: $breakpoint-medium) {
          display: block;
        }
      }

      .drag-button {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate3d(-50%, 0, 0);
        width: 200px;
        height: 100%;
        cursor: ew-resize;
        background-image: url(../images/drag_button.png);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;
      }

      .wall-wrapper {
        display: none;
        width: 104%;
        height: 100%;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media (min-width: $breakpoint-medium) {
          display: block;
        }

        &.transition {
          transition: 4s width ease-in-out;
        }

        &.bouncing {
          animation-name: bouncing;
          animation-duration: 3s;
        }

        &.reveal {
          width: 14%;
        }
      }

      .wall {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 1;

        img {
          width: 103vw;
          max-width: none;
        }
      }
    }

    .inner {
      @media (min-width: $breakpoint-medium) {
        max-width: 493px;
      }
    }
  }
}

@keyframes bouncing {
  0%   { width: 14% }
  33%  { width: 13% }
  66%  { width: 15% }
  100% { width: 14% }
}
