body.offset {
  .yellow {
    background-color: #e5cc52;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .uk-section {
    &.uk-flex {
      min-height: 784px;

      .inner {
        @media (min-width: $breakpoint-medium) {
          max-width: 493px;
        }
      }
    }

    .uk-container {
      & > .uk-width-1-2 {
        max-width: 568px;
        width: 100%;
      }
    }
  }

  .offset-project {
    border: 2px solid lighten($black, 0.6);

    .offset-project__title {
      cursor: pointer;

      h3 {
        margin-bottom: 0;
        font-size: 1.6rem;
        font-weight: bold;

        span {
          position: relative;
          display: inline-block;
          width: 0.7em;
          height: 0.7em;
          border: 3px solid $black;
          border-radius: 50%;

          &:after {
            content: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 50%;
            height: 50%;
            background-color: $black;
            border-radius: 50%;
          }
        }
      }
    }

    .offset-project__image {
      height: 330px;
      background-size: cover;
      background-position: center;
    }

    .offset-project__payment {
      opacity: 0.6;

      .amount {
        font-size: 3.35rem;
        font-weight: bold;
        line-height: 1;

        span {
          font-size: 0.5em;
        }
      }

      .buttons-wrapper {
        .uk-button {
          padding: 8px 75px 10px 75px;
          font-size: 0.9rem;
          text-align: center;

          &.active {
            background-color: $black;
            color: $white;
          }

          &.uk-width-1-1 {
            font-size: 1.6rem;
          }

          &.blocked {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      border: 4px solid $black;

      .offset-project__payment {
        opacity: 1;
      }

      .offset-project__title {
        h3 {
          span {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .uk-button.uk-width-1-1 {
    padding: 10px 35px 12px;

    &:hover {
      padding-right: 35px;
    }
  }

  &.register, &.login, &.payment {
    .payment-process {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0.8rem;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed $black;
        z-index: 0;
      }

      & > div {
        div {
          font-size: 0.7rem;
          z-index: 1;

          &:first-of-type {
            transform: translateX(-50%);
          }

          &:last-of-type {
            transform: translateX(50%);
          }

          span {
            display: block;
            margin: 0 auto;
            width: 1.6rem;
            height: 1.6rem;
            border: 2px solid $black;
            border-radius: 50%;
            background-color: #e5cc52;
            font-size: 0.9rem;
            line-height: 1.6rem;
          }

          &.active {
            position: relative;
            top: -4px;

            span {
              border: 4px solid $black;
            }
          }
        }
      }
    }

    .loginOrRegister {
      font-size: 1.6rem;
      font-weight: bold;

      & > * {
        padding-bottom: 0.5em;
        border-bottom: 4px solid $black;
      }

      a {
        border-bottom: 1px solid $black;
        font-weight: normal;
        color: rgba($black, 0.6);

        &:hover {
          color: $black;
          text-decoration: none;
        }
      }
    }

    form {
      .form-wrapper {
        max-width: 100%;

        .input-wrapper {
          &.focus {
            label {
              background-color: #e5cc52;
            }
          }

          .uk-input {
            background-color: #e5cc52;
          }
        }
      }
    }
  }

  &.payment {
    .payment-process {
      & > div {
        div {
          span {
            background-color: $white;
          }
        }
      }
    }

    .payment-summary {
      border: 1px solid $black;

      p {
        font-weight: 600;
      }

      .amount {
        font-size: 2.4rem;
        font-weight: 600;
      }
    }

    .payment-type {
      border: 2px solid $black;

      p {
        font-size: 0.8rem;
        margin-bottom: 0.5em;
      }

      .desc {
        font-size: 0.7rem;
        color: rgba($black, 0.6);
      }
    }
  }
}
