body.payment {
  h2 {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .payment--processed {
    background-color: #38AC92;

    .bird {
      height: 239px;
    }
  }

  .payment--success {
    background-color: #38AC92;
  }

  .payment--failure {
    background-color: #ff7101;
  }
}
